@model IEnumerable<CloudPOE.Models.Venues>

@{
    ViewData["Title"] = "Index";   
}

<h1>Index</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                    @if (!string.IsNullOrEmpty(item.URLImage))
                    {
                        <img src="@item.URLImage" alt="Venue Image" width="100" height="100" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }


            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenueID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
